/* 
colors:
white #FFFFFF
grey #EAEAEE
light blue #8EB6DC
dark blue #1470AF
black #000000
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.5s;
  /* background-color: #EAEAEE; */
}

h1 {
  font-family: "Manrope";
}

#header {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  position: absolute;
  /* border: 1px solid red; */
}

@media (min-width: 768px) {
  #header {
    height: 70px;
  }
}

#intro {
  /* height: 800px; */
  height: 800px;
  background: url("images/background\ gradient.png") no-repeat center center / cover fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

#intro-content {
  height: 30%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
}

#intro-content h1 {
  font-family: "Manrope";
  font-size: 45px;
  font-weight: 450;
  text-align: center;
}

#intro-content p {
  width: 90%;
  font-family: "Nunito Sans";
  font-size: 17px;
  font-weight: 300;
}

@media (min-width: 768px) {
  #intro-content {
    width: 60%;
  }

  #intro-content h1 {
    font-size: 70px;
    text-align: center;
  }

  #intro-content p {
    width: 60%;
    font-size: 17px;
    font-weight: 300;
  }
}

#about {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5%;
  background-color: #8EB6DC;
  /* border: 1px solid red; */
}

#about-title {
  /* width: 95%; */
}

#about-description {
  width: 80%;
}

#about-title h1 {
  font-size: 40px;
  font-weight: 500;
}

#about-description p {
  font-family: "Nunito Sans";
  font-size: 20px;
  font-weight: 400;
}

@media (min-width: 768px) {
  #about {
    flex-direction: row;
  }

  #about-title {
    width: 30%;
  }

  #about-description {
    width: 40%;
  }

  #about-title h1 {
    font-size: 50px;
  }
}

@media (min-width: 1025px) {
  #about-title h1 {
    font-size: 70px;
  }
}